<!DOCTYPE html>
<html lang="en">
  	<head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Details</title>

		<link href="../../../static/banksys/loan/css/bootstrap.min.css" rel="stylesheet">
		<link href="../../../static/banksys/loan/css/style.css" rel="stylesheet">
	</head>

  	<body background="../../../static/banksys/background.jpg">
		<div class="container-fluid">
			<div class="row">
				<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
					<a class="navbar-brand mr-auto mr-lg-0" href="#">Bank Management System&nbsp;&nbsp;&nbsp;&nbsp;</a>

		  			<div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
			  			<ul class="navbar-nav mr-auto">
							<li class="nav-item">
				  				<a class="nav-link" href="../client/search">Profile</a>
							</li>
							<li class="nav-item">
				  				<a class="nav-link" href="../account/search">Account</a>
							</li>
							<li class="nav-item active">
				  				<a class="nav-link" href="#">Loan  <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item">
				  				<a class="nav-link" href="../statistics/search">Statistics</a>
							</li>
						</ul>
						<a href="../sign_in/signin">
							<button class="btn btn-outline-success my-2 my-sm-0">Sign out</button>
						</a> 
					</div>
				</nav>
		  
				<div class="nav-scroller bg-white shadow-sm">
					<nav class="nav nav-underline">
						<a class="nav-link active" href="#"><strong>Actions:</strong></a>
			  			<a class="nav-link" href="add">Add Loan</a>
                        <a class="nav-link" href="delete">Delete Loan</a>
                        <a class="nav-link" href="pay">Pay Loan</a>  
						<a class="nav-link" href="search">Search</a>
					</nav>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
							{% if use_loan_id %}
							<h3>Loan Info</h3>
							<table class="table">
								<thead>
									<tr>
										<th>ID</th>
										<th>AMOUNT</th>
                                        <th>SUB-BRANCH</th>
                                        <th>State</th>
									</tr>
								</thead>
								<tbody>
									<tr class="table-info">
										<td>{{ result_loan.loan_id }}</td>
										<td>{{ result_loan.amount }}</td>
										<td>{{ result_loan.bank.bank_name }}</td>
										<td>{{ result_loan.state}}</td>
									</tr>
								</tbody>
							</table>

							<h3>Loan for Client Info</h3>
							<table class="table">
								<thead>
									<tr>
										<th>LOAN ID</th>
										<th>CLIENT ID</th>
									</tr>
								</thead>
								<tbody>
									{% for loan in result_clientloan %}
									<tr class="table-info">
										<td>{{ loan.loan.loan_id }}</td>
										<td>{{ loan.client.client_id }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>

							<h3>Payment Info</h3>
							<table class="table">
								<thead>
									<tr>
										<th>LOAN ID</th>
										<th>CLIENT ID</th>
                                        <th>PAY AMOUNT</th>
                                        <th>PAY DATE</th>
									</tr>
								</thead>
								<tbody>
									{% for loan in result_payment %}
									<tr class="table-info">
										<td>{{ loan.loan.loan_id }}</td>
										<td>{{ loan.client.client_id }}</td>
										<td>{{ loan.pay_amount }}</td>
										<td>{{ loan.pay_date }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
							{% endif %}

							{% if use_client_id %}
							<h3>Loan for Client Info</h3>
							<table class="table">
								<thead>
									<tr>
										<th>LOAN ID</th>
										<th>CLIENT ID</th>
									</tr>
								</thead>
								<tbody>
									{% for loan in result_clientloan %}
									<tr class="table-info">
										<td>{{ loan.loan.loan_id }}</td>
										<td>{{ loan.client.client_id }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>

							<h3>Payment Info</h3>
							<table class="table">
								<thead>
									<tr>
										<th>LOAN ID</th>
										<th>CLIENT ID</th>
                                        <th>PAY AMOUNT</th>
                                        <th>PAY DATE</th>
									</tr>
								</thead>
								<tbody>
									{% for loan in result_payment %}
									<tr class="table-info">
										<td>{{ loan.loan.loan_id }}</td>
										<td>{{ loan.client.client_id }}</td>
										<td>{{ loan.pay_amount }}</td>
										<td>{{ loan.pay_date }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>

		<p class="mt-5 mb-3 text-muted" style="text-align: center;">&copy; Shi Hengrui, 2020</p>

		<script src="../../../static/banksys/loan/js/jquery.min.js"></script>
		<script src="../../../static/banksys/loan/js/bootstrap.min.js"></script>
		<script src="../../../static/banksys/loan/js/scripts.js"></script>
	</body>
</html>
